body {
  background-color: antiquewhite;
}

header {
  position: sticky;
}

h1 {
  text-align: center;
}

div.buttons {
  text-align: center;
}

button {
  background-color: silver;
  margin: 10px;
  padding: 5px;
}

